trigger:
- master

variables:
  DotnetVersion: 3.1.x
  BuildConfiguration: Release

stages:
- stage: Build_and_Publish
  jobs:
  - job: Build_Functions
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: $(DotnetVersion)
      displayName: 'Install .NET Core SDK $(DotnetVersion)'

    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: '**/Boilerplate.csproj'
        arguments: '-c $(BuildConfiguration)'
      displayName: 'dotnet build'

    - task: DotNetCoreCLI@2
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: '**/Boilerplate.csproj'
        arguments: '-c $(BuildConfiguration) -o $(Build.SourcesDirectory)/publish'
      displayName: 'dotnet publish'